<p><strong>First name:</strong> {{ object.first_name }}</p>
<p><strong>Last name:</strong> {{ object.last_name }}</p>
<p><strong>License number:</strong> {{ object.license_number }}</p>

<p>
  <strong>License number:</strong> {{ object.license_number }}
  <a href="{% url 'taxi:driver-update' pk=object.id %}" class="btn btn-primary link-to-page">
    Update number
  </a>
</p>

<p><strong>Is staff:</strong> {{ object.is_staff }}</p>

<p>
  <a href="{% url 'taxi:driver-delete' pk=object.id %}" class="btn btn-danger">
    Delete driver
  </a>
</p>

<div class="ml-3">
  <h4>Cars</h4>
  <!-- Тут згодом буде список машин -->
</div>